@import '../../App.scss';

.results-page {
  background-color: #e7edf6;
  min-height: 100vh;

}

.results {
  font-family: 'Inter', sans-serif;

  box-sizing: border-box;
  width: 100%;
  padding: 50px 150px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__overall {
    font-size: 30px;
    margin: 0;
    width: 100%;
    color: $text-color;
  }

  &__container {
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;
    gap: 20px;
  }
}

.preloader {
  display: block;
  width: 74px;
  height: 74px;
  border: 2px solid #999;
  border-top-color: #bdc3cc;
  border-left-color: #d7dde6;
  border-bottom-color: #e7edf6;

  border-radius: 50%;

  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}