$header-height: 75px;

.start-page {
  background-color: #e7edf6;
  height: 100vh;
}

.header {
  height: $header-height;
  background-color: #2a78ed;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-bottom: 2px solid #585858;

  &__logo {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin: 0;
    color: #e5e5e5;
    font-family: 'Inter', sans-serif;
  }
}

.main {
  padding: 105px 145px;

  &__title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 58px;
    line-height: 68px;
    color: #585858;
    margin: 0 0 34px 0;
  }

  &__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #585858;
    margin: 0 0 130px 0;
  }

  &__form {
    position: relative;
    width: 563px;
  }

  &__input {
    width: 100%;
    height: 80px;
    background: #f8fbff;
    border: 3px solid #2a78ed80;
    box-sizing: border-box;
    border-radius: 40px;
    padding-left: 24px;
    font-size: 18px;
    font-family: Inter;
    caret-color: #2a78ed;
    outline: none;
    transition: 0.1s linear;

    &::placeholder {
      font-family: Inter;
      font-size: 18px;
      line-height: 22px;
      color: rgba(88, 88, 88, 0.7);
    }

    &:hover {
      border: 3px solid #2a78edbf;
    }

    &:focus {
      border: 3px solid #2a78ed;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    width: 168px;
    height: 80px;
    background: #2a78ed;
    border-radius: 40px;
    border: 0;
    outline: none;
    cursor: pointer;

    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #e7edf7;

    transition: 0.1s linear;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      background-color: #0061f1;
    }
  }
}
