@import '../../App.scss';

.market {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-top: 2px solid #7c7c7c;

  box-sizing: border-box;

  position: relative;

  display: grid;
  grid-template-columns: 25% 50% 20% 5%;
  align-items: center;

  &__logo {
    height: 60px;
  }

  &__name {
    margin: 0;
    font-size: 25px;
  }

  &__description {
    margin: 0;
    font-style: italic;
    font-size: 16px;
  }

  &__go {
    width: 25px;
    height: 25px;
    transition: .1s ease-out;

    cursor: pointer;

    &:hover {
      transform: translate(3px, 0);
    }
  }

  &__save {
    position: absolute;
    top: 0;
    right: 0;
    transition: .1s ease-out;

    cursor: pointer;

    &:hover {
      opacity: .7;
    }

    &-icon {
      width: 25px;
      height: 25px;
    }
  }
}
