@import '../../App.scss';

.good {
  background-color: #fff;
  color: $text-color;
  border-radius: 10px;
  border: 1px solid #e2e2e2;

  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 15px;

  transition: .1s ease-out;

  cursor: pointer;

  &__main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__image {
    width: 100px;
    height: 100px;

    object-fit: contain;

    box-sizing: border-box;
    border: 2px solid #5a5a5a;
    border-radius: 50%;
  }

  &__name {
    width: 60%;
  }

  &__rate {
    margin: 0;
  }

  &:hover {
    border-color: #bbbbbb;
  }
}
